.squareContainer {
  padding: 10px;
  background-color: var(--bgColor2);
  border-radius: 15px;
}
.circleContainer {
  padding: 3px 8px;
  background-color: var(--bgColor1);
  border-radius: 50%;
  height: 40px;
  display: flex;
  align-items: center;
}
