.modal {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  z-index: 200;
  font-size: 50px;
}

.pillToggleButton {
  margin: 50px;
}
