[Unit]
Description=WGO CAN IFACE SERVICE

[Service]
ExecStart=/home/guf/can_service/can_iface.sh

#StandardOutput=null
#StandardError=null

[Install]
WantedBy=multi-user.target
