.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 100%;
}

.text {
  font-size: 40px;
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: white;
  opacity: 0.9;
}
.text p {
  margin: 10px;
}
