[Unit]
Description=Chromium Kiosk Browser

After=weston@root.service ui.service
Requires=weston@root.service
Conflicts=getty@tty1.service

[Service]
Type=simple

Environment=XDG_RUNTIME_DIR=/var/run/user/0
Environment=QT_QPA_FONTDIR=/usr/share/fonts/truetype
Environment=QT_QPA_PLATFORM=wayland
Environment=QML_XHR_ALLOW_FILE_READ=1

ExecStart=/usr/bin/chromium --no-sandbox --clear-cache --kiosk file:///home/guf/main_service/base_static/loading.html

TimeoutSec=60
Restart=on-failure

StandardOutput=null
StandardError=null
SyslogIdentifier=kiosk-browser

[Install]
WantedBy=multi-user.target
