.container {
  display: flex;
  background-color: #616479;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 30px;
}
.icon svg {
  font-size: 50px;
}
.contentBox {
  padding-left: 10px;
}
.header {
  font-size: 20px;
}
.text {
  font-size: 22px;
}
