.remaining {
  background-color: var(--bg-fade);
  border-radius: 16px;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 56px 0 47px;
}

.bottom {
  margin-top: 10px;
  background-color: var(--fills-surface-2);
  padding: 16px 56px 22px 47px;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom p, h2 {
    margin: 0;
}
