{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "consistent-return": "off",
    "prettier/prettier": 1,
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "react/no-unknown-property": "off",
    "react/react-in-jsx-scope": "off",
    "react/self-closing-comp": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-unused-expressions": "warn",
    "no-use-before-define": "off"
  }
}
