.card {
  background-color: var(--bgColor3);
  padding: 25px 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}
.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  font-size: 40px !important;
}
.icon2 {
  font-size: 30px !important;
}
.middleRow {
  font-size: 50px;
  margin: 20px 0;
}
.bottomRow {
}
