.header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
}
.text {
  color: var(--textColor1);
  font-size: 30px;
  margin-left: 15px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
