.sliderContainer {
    padding: 15px;
    gap: 20px;
}
.sliderContainer svg path {
    fill: var(--ui-elements-icon-fill);
  }

.borderBottom {
    border-bottom: 1px solid var(--fills-background);
    margin: 0 0 0 20px;
  }
.slider {
    flex: 1;
}