.container{
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(137, 137, 140,0.5);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: top 0s ease-in-out;
    z-index:10;
    
}
.content{
    position: absolute;
    /* top: 50px; */
    left: 50%;
    transform: translate(-50%, 0px);
    transition: top 0.5s ease-in-out;
}