[Unit]
Description=Brings up the GATT Interface
Documentation=https://dev.azure.com/WGO-Web-Development/SmartRV/_git/SmartRV?path=/bt_service/README.md
Requires=bluetooth.service storage.mount
BindsTo=wgo_main.service
After=bluetooth.service storage.mount ui.service

[Service]
EnvironmentFile=/etc/default/smartrv
WorkingDirectory=/opt/smartrv/bt_service
ExecStart=python3 wgo_bt_service.py

TimeoutSec=10
Type=simple
Restart=on-abnormal
RestartSec=5

StandardOutput=null
StandardError=null
SyslogIdentifier=ble_gatt

User=winnebago

[Install]
WantedBy=multi-user.target
